#carrossel {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 30%;
  position: relative;
  transition: 2s;
}
.slide img {
  width: 1200px;
}
.manual-navigation {
  position: absolute;
  width: 1250px;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.manual-btn {
  border: 5px solid #fff;
  padding: 6px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background-color: rgb(230, 150, 183);
}

#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -30%;
}
#radio3:checked ~ .first {
  margin-left: -60%;
}
#radio4:checked ~ .first {
  margin-left: -90%;
}

.navigation-auto {
  position: absolute;
  width: 1250px;

  margin-top: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #fff;
}

@media only screen and (max-width: 1200px) {
  #carrossel {
    height: 0px;
  }
  .slide {
    display: none;
  }
  .manual-navigation {
    display: none;
  }
  #logo {
    height: 350px;
    background-color: #f8bbd0;
  }
  #logo img {
    height: 300px;
    width: 500px;
  }
}

@media only screen and (max-width: 550px) {
  #logo {
    height: 250px;
  }

  #logo img {
    height: 150px;
    width: 200px;
  }
}
