@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.img-responsive {
  max-width: 100%;
}

header {
  position: relative;
  box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
  width: 100%;
  background-color: #fff;
}
aside {
  min-height: 100vh;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #c2185b;
}

.btn-primary {
  background-color: #c2185b;
  border-color: #c2185b;
}
main {
  width: 100%;
}
main.login {
  width: 400px;
}
#eventos {
  display: flex;
  flex-wrap: wrap;
}
section.full {
  width: 100%;
  min-height: 80vh;
  padding: 50px 0;
}

article.evento {
  width: 350px;
}

footer nav ul {
  list-style: none;
  display: flex;
}

footer nav ul li {
  padding: 10px;
}

@media only screen and (max-width: 880px) {
  .evento .card .p-5 .m-3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 840px) {
  #painel {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 830px) {
  .row {
    display: flex;
    flex-direction: column;
  }
  .row aside {
    width: 100%;
    margin-bottom: -1200px;
    text-align: center;
  }
  .row aside img {
    width: 150px;
  }

  .row aside ul {
    margin-bottom: 0 !important;
  }
}
